<!-- start custom footer snippets -->
<a href="/sitemap/">Sitemap</a>
<!-- end custom footer snippets -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Webpage</title>
    <style>
        #custom-map-container {
            width: 100px; 
            height: 100px;
        }
    </style>
</head>
<body>

<div id="custom-map-container">
    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=6XowEGrYZad28ZVVTI8hSkI0E2U0fQs2dAz7OfBy16s"></script>
</div>

</body>
</html>
